<launch>
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher">
    <param name="odom_frame" type="string" value="odom" />
    <param name="base_frame" type="string" value="base_link" />
    <param name="laser_frame" type="string" value="laser_frame" />
    <!-- Add other parameters as needed -->
  </node>
</launch>
